<div>
  <form #currentData="ngForm" (ngSubmit)="onSubmit(currentData)">
    <div class="form-group">
      <label for="todo">Todo:</label>
      <input id="todo" [(ngModel)]="todoItem.todo" name="todo" class="form-control" type="text" required #todo="ngModel">
    </div>
    todo class: {{todo.className}}
    <br>
    <div [hidden]="todo.valid || todo.pristine">
      Todo is required
    </div>
    <div class="form-group">
      <label for="remark">Remark:</label>
      <input id="remark" [(ngModel)]="todoItem.remark" name="remark" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="public">Public:</label>
      <input id="public" [(ngModel)]="todoItem.public" name="public" class="form-control" type="checkbox" required>
    </div>
    <div class="form-group">
      <label for="done">Done:</label>
      <input id="done" [(ngModel)]="todoItem.done" name="done" class="form-control" type="checkbox" required>
    </div>
    <button type="submit">Save</button>
    form valid: {{currentData.form.valid | json }}
  </form>
</div>

<hr>

<mat-grid-list cols="2" rowHeight="1:1.1">
  <mat-grid-tile>¨
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent">LIKE</button>
        <button mat-button routerLink="/list" color="primary">Todo List</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>Todo Item</mat-card-header>
      <mat-card-subtitle>Add or update Todo Item</mat-card-subtitle>
      <mat-card-content>
        <form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)">
          <div class="form-group">
            <label for="todo">Todo:</label>
            <input id="todo" type="text" class="form-control" name="todo" required>
          </div>
          <div class="form-group">
            <label for="publicTodo">Is public:</label>
            <input id="publicTodo" type="text" class="form-control" name="publicTodo" required>
          </div>
          <button mat-raised-button color="primary" type="submit">Save</button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>




<hr>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <div class="card w-75">
        <div class="card-header">
          <img class="card-img-top float-right" src="../../../assets/image/todoDetail.png" alt="Todo Details" style="max-width: 2em;">
          <h5 class="card-title ">ToDo Details</h5>
        </div>
        <div class="card-body ">
          <div *ngIf="!!todoItem ">
            <p class="card-text ">{{todoItem.todo}}</p>
            <p class="card-text font-weight-light font-italic ">{{todoItem.remark}}</p>
            <p class="card-text">
              <span *ngIf="!!todoItem.done; else notDone">
                <button mat-fab color="accent">
                  <mat-icon class="example-icon">verified_user</mat-icon> Done</button>
                <!--                 <button type="button" class="btn btn-secondary btn-sm">Done</button>
 -->
              </span>
              <ng-template #notDone>
                <button mat-fab color="Warn">Not Done</button>
                <!--                 <button type="button" class="btn btn-primary btn-sm">Not Done</button>
 -->
              </ng-template>
            </p>

            <p class="card-text">
              <span *ngIf="!!todoItem.public; else notPublic">
                <!--                 <button type="button" class="btn btn-success btn-sm">Public</button>
 -->
                <button mat-raised-button color="primary">Public</button>
              </span>
              <ng-template #notPublic>
                <!--                 <button type="button" class="btn btn-danger btn-sm">Private</button>
 -->
                <button mat-button color="accent">Private</button>
              </ng-template>
            </p>
            <p class="card-text font-weight-light ">{{todoItem._id}}</p>
          </div>
          <div class="card-footer text-muted">
            <a href="#" routerLink="/list " class="btn btn-primary ">Todo List</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="todoItem ">{{todoItem | json }}</div>