<div *ngIf="todoItem">
  <form #currentData="ngForm" (ngSubmit)="onSubmit(currentData)">
    <div class="form-group">
      <label for="todo">Todo:</label>
      <input id="todo" [(ngModel)]="todoItem.todo" name="todo" class="form-control" type="text" required #todo="ngModel">
    </div>
    todo class: {{todo.className}}
    <br>
    <div [hidden]="todo.valid || todo.pristine">
      Todo is required
    </div>
    <div class="form-group">
      <label for="remark">Remark:</label>
      <input id="remark" [(ngModel)]="todoItem.remark" name="remark" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="public">Public:</label>
      <input id="public" [(ngModel)]="todoItem.public" name="public" class="form-control" type="checkbox" required>
    </div>
    <div class="form-group">
      <label for="done">Done:</label>
      <input id="done" [(ngModel)]="todoItem.done" name="done" class="form-control" type="checkbox" required>
    </div>
    <button type="submit">Save</button>
    form valid: {{currentData.form.valid | json }}
  </form>
</div>
